@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/switzer');

body{
    font-family: 'Switzer', sans-serif;
}

.bgImage {
    background-image: url("/public/samuel-mobile.png");
   
}



@media (min-width:480px)  { 
    .bgImage {
        background-image: url("/public/samuel.png");
        
    }   
}

